### Calculate the distance from location point to closest point from a tornado path/line

In [21]:
import pandas as pd
import math

In [22]:
locDF = pd.read_csv('data/capitals.csv')
torDF = pd.read_csv('data/predicted_data.csv')

In [23]:
# Add two new empty columns
locDF['minDist'] = 0
locDF['Index'] = 0

locDF

             State    Capital City   Latitude   Longitude  minDist  Index
0          Alabama      Montgomery  32.377716  -86.300568        0      0
1           Alaska          Juneau  58.301598 -134.420212        0      0
2          Arizona         Phoenix  33.448143 -112.096962        0      0
3         Arkansas     Little Rock  34.746613  -92.288986        0      0
4       California      Sacramento  38.576668 -121.493629        0      0
5         Colorado          Denver  39.739227 -104.984856        0      0
6      Connecticut    Hartford<br>  41.764046  -72.682198        0      0
7         Delaware           Dover  39.157307  -75.519722        0      0
8           Hawaii        Honolulu  21.307442 -157.857376        0      0
9          Florida     Tallahassee  30.438118  -84.281296        0      0
10         Georgia     Atlanta<br>  33.749027  -84.388229        0      0
11           Idaho           Boise  43.617775 -116.199722        0      0
12        Illinois     Springfield  39.798363  -89.654961        0      0
13         Indiana    Indianapolis  39.768623  -86.162643        0      0
14            Iowa      Des Moines  41.591087  -93.603729        0      0
15          Kansas          Topeka  39.048191  -95.677956        0      0
16        Kentucky       Frankfort  38.186722  -84.875374        0      0
17       Louisiana     Baton Rouge  30.457069  -91.187393        0      0
18           Maine         Augusta  44.307167  -69.781693        0      0
19        Maryland       Annapolis  38.978764  -76.490936        0      0
20   Massachusetts          Boston  42.358162  -71.063698        0      0
21        Michigan         Lansing  42.733635  -84.555328        0      0
22       Minnesota        St. Paul  44.955097  -93.102211        0      0
23     Mississippi         Jackson  32.303848  -90.182106        0      0
24        Missouri  Jefferson City  38.579201  -92.172935        0      0
25         Montana          Helena  46.585709 -112.018417        0      0
26        Nebraska         Lincoln  40.808075  -96.699654        0      0
27          Nevada     Carson City  39.163914 -119.766121        0      0
28   New Hampshire         Concord  43.206898  -71.537994        0      0
29      New Jersey         Trenton  40.220596  -74.769913        0      0
30      New Mexico        Santa Fe  35.682240 -105.939728        0      0
31  North Carolina         Raleigh  35.780430  -78.639099        0      0
32    North Dakota        Bismarck  46.820850 -100.783318        0      0
33        New York          Albany  42.652843  -73.757874        0      0
34            Ohio        Columbus  39.961346  -82.999069        0      0
35        Oklahoma   Oklahoma City  35.492207  -97.503342        0      0
36          Oregon           Salem  44.938461 -123.030403        0      0
37    Pennsylvania      Harrisburg  40.264378  -76.883598        0      0
38    Rhode Island      Providence  41.830914  -71.414963        0      0
39  South Carolina        Columbia  34.000343  -81.033211        0      0
40    South Dakota          Pierre  44.367031 -100.346405        0      0
41       Tennessee       Nashville  36.165810  -86.784241        0      0
42           Texas          Austin  30.274670  -97.740349        0      0
43            Utah  Salt Lake City  40.777477 -111.888237        0      0
44         Vermont      Montpelier  44.262436  -72.580536        0      0
45        Virginia        Richmond  37.538857  -77.433640        0      0
46      Washington         Olympia  47.035805 -122.905014        0      0
47   West Virginia      Charleston  38.336246  -81.612328        0      0
48       Wisconsin         Madison  43.074684  -89.384445        0      0
49         Wyoming        Cheyenne  41.140259 -104.820236        0      0

In [24]:
torDF

,Unnamed: 0,index,om,tz,stf,stn,mag,inj,fat,loss,...,slon,len,wid,fc,p_elat,p_elon,Time,sDate,sTime,Predicted_Time
0,0,13609,464,3,31,20,0,0,0,0.0,...,-97.62,0.3,17,0,0.026987,-0.070271,90.0,7/1/1972,19:00:00,1900-01-05 13:00:00
1,1,8239,310,3,20,12,1,0,0,3.0,...,-99.00,0.1,100,1,0.328906,-0.695332,59.0,5/13/1965,20:30:00,1900-01-04 07:30:00
2,2,9631,219,3,19,19,2,0,0,0.0,...,-94.03,6.8,200,0,3.705502,-8.431985,36.0,4/30/1967,16:10:00,1900-01-03 04:10:00
3,3,3263,497,3,8,12,2,1,0,3.0,...,-104.93,1.3,10,0,6.562971,-19.889016,35.0,5/30/1957,20:00:00,1900-01-03 07:00:00
4,4,9621,209,3,29,31,1,0,0,4.0,...,-89.98,0.3,200,0,0.189948,-0.476154,55.0,4/23/1967,15:00:00,1900-01-03 22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5414,5414,4705,517,3,38,11,1,0,0,2.0,...,-101.80,0.1,10,0,37.259848,-89.675782,8.0,9/17/1959,21:20:00,1900-01-02 05:20:00
5415,5415,3319,553,3,27,5,1,0,0,0.0,...,-94.48,0.1,10,0,38.909651,-101.138902,4.0,6/13/1957,18:30:00,1900-01-01 22:30:00
5416,5416,15601,613,3,17,39,0,0,0,0.0,...,-89.77,0.1,10,0,32.470115,-85.640451,7.0,6/15/1974,21:40:00,1900-01-02 04:40:00
5417,5417,8761,832,3,5,21,2,0,0,3.0,...,-92.55,0.1,10,0,32.607571,-88.478494,1.0,9/21/1965,20:00:00,1900-01-01 21:00:00
5418,5418,5133,341,3,17,25,0,0,0,0.0,...,-89.20,0.1,10,1,33.295428,-97.616346,8.0,6/4/1960,18:00:00,1900-01-02 02:00:00

### Find minimum distance (km) from tornado line to location point and then store values in location df

# Working Solution
### Formula: https://stackoverflow.com/questions/32771458/distance-from-lat-lng-point-to-minor-arc-segment

In [25]:
def bear(latA, lonA, latB, lonB):
    b = math.atan2( math.sin(math.radians(lonB-lonA))*math.cos(math.radians(latB)), math.cos(math.radians(latA))*math.sin(math.radians(latB)) - math.sin(math.radians(latA))*math.cos(math.radians(latB))*math.cos(math.radians(lonB-lonA)) )
    return b

def dis(latA, lonA, latB, lonB):
    d = math.acos( math.sin(math.radians(latA))*math.sin(math.radians(latB)) + math.cos(math.radians(latA))*math.cos(math.radians(latB))*math.cos(math.radians(lonB-lonA)) ) * R
    return d

### Calculates the distance from each tornado path to each location point.

In [26]:
idx = 0

for i, loc in locDF.iterrows():
    
    for j, tor in torDF.iterrows():

        R=6371; # Earth's radius in kilometers
        pi = 3.14159265359
        
        # Prerequisites for the formulas
        bear12 = bear(tor['slat'],tor['slon'],tor['p_elat'],tor['p_elon'])
        bear13 = bear(tor['slat'],tor['slon'],loc['Latitude'],loc['Longitude'])
        dis13 = dis(tor['slat'],tor['slon'],loc['Latitude'],loc['Longitude']);
        dis23 = dis(tor['p_elat'],tor['p_elon'],loc['Latitude'],loc['Longitude'])
        disAdd = dis13 + dis23
        
        diff = abs(bear13-bear12)

        if diff > pi:
            
            diff = 2 * pi - diff
        
        if diff>(pi/2): # Is relative bearing obtuse?
            
            dxa=dis13
            
        else:
            
            # Find the cross-track distance.
            dxt = math.asin( math.sin(dis13/R)* math.sin(bear13 - bear12) ) * R

            # Is p4 beyond the arc?
            dis12 = dis(torDF.at[j, 'slat'],torDF.at[j, 'slon'],torDF.at[j, 'p_elat'],torDF.at[j, 'p_elon'])
            dis14 = math.acos( math.cos(dis13/R) / math.cos(dxt/R) ) * R
            
            if dis14>dis12:
                
                dxa=dis(tor['p_elat'],tor['p_elon'],loc['Latitude'],loc['Longitude'])
                
            else:
                
                dxa=abs(dxt)
            
            df2 = pd.DataFrame({'State': locDF.at[i, 'State'], 'Capital City':locDF.at[i, 'Capital City'], 
                                'Latitude':locDF.at[i, 'Latitude'], 'Longitude':locDF.at[i, 'Longitude'], 
                                'minDist':dxa, 'Index':tor['index']}, index=[idx])
                
            locDF = locDF.append(df2, ignore_index=True)
            
            idx+=1

In [27]:
locDF

             State Capital City   Latitude   Longitude      minDist  Index
0          Alabama   Montgomery  32.377716  -86.300568     0.000000      0
1           Alaska       Juneau  58.301598 -134.420212     0.000000      0
2          Arizona      Phoenix  33.448143 -112.096962     0.000000      0
3         Arkansas  Little Rock  34.746613  -92.288986     0.000000      0
4       California   Sacramento  38.576668 -121.493629     0.000000      0
...            ...          ...        ...         ...          ...    ...
169009     Wyoming     Cheyenne  41.140259 -104.820236   701.076551  15073
169010     Wyoming     Cheyenne  41.140259 -104.820236  1075.982324   2250
169011     Wyoming     Cheyenne  41.140259 -104.820236   690.357668   4705
169012     Wyoming     Cheyenne  41.140259 -104.820236   399.657355   3319
169013     Wyoming     Cheyenne  41.140259 -104.820236  1066.649474   5133

[169014 rows x 6 columns]

### Export df

In [28]:
locDF.to_csv(r'data\locTorPairs.csv')