In [8]:
import pandas as pd
import geopandas as gpd
from pymongo import MongoClient

import json
import pprint

from bson import json_util, ObjectId
from pandas.io.json import json_normalize

In [11]:
client = MongoClient('mongodb+srv://wm84:121992@cluster0.kxwpm.mongodb.net/central_db?retryWrites=true&w=majority')
db = client.central_db
db.list_collection_names()

['inciweb_wildfires',
 'esri_wildfires',
 'gdac_geojson',
 'worldaware',
 'Tornado_Point',
 'esri_active_siesmic_events',
 'Hail_Point',
 'Tornadoes_SPC_1950to2015',
 'hurricane_forecast',
 'hurricane_observation',
 'tornado_path',
 'poweroutage_county',
 'esri_active_hurricanes',
 'capitals_csv',
 'Wind_Point']

In [12]:
sanitized = json.loads(json_util.dumps(db.Tornadoes_SPC_1950to2015.find()))
normalized = json_normalize(sanitized)
df2 = pd.DataFrame(normalized)

del df2['_id.$oid']

In [14]:
df2.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,fat,loss,closs,slat,slon,elat,elon,len,wid,fc
0,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,0,6,0,38.77,-90.22,38.83,-90.03,9.5,150,0
1,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,0,5,0,39.1,-89.3,39.12,-89.23,3.6,130,0
2,3,1950,1,3,1/3/1950,16:00:00,3,OH,39,1,...,0,4,0,40.88,-84.58,0,0,0.1,10,0
3,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,1,3,0,34.4,-94.37,0,0,0.6,17,0
4,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,0,5,0,37.6,-90.68,37.63,-90.65,2.3,300,0